body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* header */

.logotype-header {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logotype-header-item {
  color: #2e2f42;
}

.list-nav .link {
  color: #2e2f42;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.list-nav .link:hover,
.list-nav .link:focus {
  color: #404bbf;
}

.list-nav .link:active {
  text-decoration: underline;
}

.header-address {
  font-style: normal;
}

.header-contact {
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}

.header-contact:hover,
.header-contact:focus {
  color: #404bbf;
}

/* banner */

.banner {
  background-color: #2e2f42;
}

.title-banner {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}

.button-banner {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border: none;
  background-color: #4d5ae5;
}

.button-banner:hover,
.button-banner:focus {
  background-color: #404bbf;
}

/* about us */

.title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}

.list-about-us .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.list-about-us .description {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* our team */

.our-team {
  background-color: #f4f4fd;
}

.item-our-team {
  background-color: #fff;
}

.list-our-team .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.list-our-team .description {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* our portfolio */

.list-our-portfolio .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.list-our-portfolio .description {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* footer */

.footer {
  background-color: #2e2f42;
}

.logotype-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logotype-footer-item {
  color: #f4f4fd;
}

.footer-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
